* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: red;
    box-sizing: border-box;
    padding: 0 calc(100vh - (100vh - 20px));


}

/*Green box*/
.wrap {
    height: calc(100vh - 40px);
    /*width: calc(100vw - 80px);*/
    background: green;
    margin: 20px auto;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;


}
/*Blue boxes*/

.blue {
    height: 100%;
    width: 300px;
    background-color: blue;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    margin: auto 10px;
    padding: 0 5px;
    overflow: auto;

}
/*Yellow boxes as default*/
.yellow {
    height: 50px;
    width: 100%;
    background-color: yellow;
    margin: 5px auto;
}
/*Specified features for given yellow boxes*/
.height-100 {
    height: 100px;
}

.height-150 {
    height: 150px;
}

.height-400 {
    height: 400px;
}
